<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.dao.UserMapper">
    <resultMap id="userMap" type="mybatis.domain.User">
        <id property="id"           column="id"/>
        <result property="username" column="username"/>
        <result property="realName" column="real_name"/>
        <result property="password" column="password"/>
        <!--一对多级联-->
        <collection property="books" ofType="mybatis.domain.Book" column="user_id">
            <id property="id"            column="bid"/> <!--更改book表id->bid否则只能关联查询出一条信息 -->
            <result property="author"    column="author"/>
            <result property="name"      column="name"/>
            <result property="title"     column="title"/>
            <result property="price"     column="price"/>
            <result property="des"       column="des"/>
        </collection>
    </resultMap>

    <sql id="userSql" >
        id, username, real_name,password
    </sql>

    <select id="findById" parameterType="int" resultMap="userMap">
        select u.*,b.*
        from t_user u , t_book b
        where u.id = b.user_id and u.id = #{id}
    </select>

    <insert id="insertUser" parameterType="mybatis.domain.User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user(id, username, real_name, password)
        values (#{id}, #{username}, #{realName},#{password});
    </insert>

    <!--利用trim也可用去掉逗号 -->
    <update id="updateUser" parameterType="mybatis.domain.User" >
        update t_user
        <trim prefix="set" suffixOverrides=",">
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="realName != null and realName != ''">
                real_name = #{realName},
            </if>
            <if test="password != null and password != ''">
                password = #{password}
            </if>
        </trim>
        where id = #{id}
    </update>
</mapper>